[Unit]
Description=Jenkins Service
After=network.target

[Service]
Type=simple
User=jenkins
Environment=JENKINS_HOME=/opt/jenkins
ExecStart=/usr/bin/java -jar -Djenkins.install.runSetupWizard=true /opt/jenkins/jenkins.war --httpPort=8080
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target